<h2>Admin. Manage artwork</h2>



<div id="wrap">
<div id="left_col">
	
<%= render 'form' %>

</div>
<div id="right_col">


<%= image_tag(@artwork.imagepath, :border=>0) %><br>
<%= link_to 'Preview', @artwork %> |
<%= link_to 'List of artworks', artworks_path %>

</div>
</div>