<h3>About Us</h3>
<p>We are Team YAK:
<ul>
<li><strong>Y</strong>ulia Falls</li>
<li><strong>A</strong>binaya Sarva Mothilal</li>
<li><strong>K</strong>ay Choi</li>
</p>
<p1>This project has been completed as part of coursework for the CSC667/867 class at SFSU.<br> It has been built on the Ruby on Rails framework - using Rails 4 with Ruby 2.0.0.</p1>
<p2> If you have questions, the FAQ's page is a better page to visit </p2>