<h3>About Us</h3>
<p>We are Team YAK:
<ul>
<li><strong>Y</strong>ulia Falls</li>
<li><strong>A</strong>binaya Sarva Mothilal</li>
<li><strong>K</strong>ay Choi</li>
</p>
<p1> This project has been completed as part of coursework for the CSC667/867 class at SFSU.</p1>
<p2> It is based on the Ruby on Rails framework. If you want to learn more, please consider taking this class at SFSU.</p2>