<h3>Contact</h3>
<p>Contact Team YAK:
<ul>
<li><strong>Y</strong>ulia Falls   yulia@artsale.com</li> 
<li><strong>A</strong>binaya Sarva Mothilal  abinaya@artsale.com </li>
<li><strong>K</strong>ay Choi  Kay@artsale.com</li>
</p>
<p1>This project has been completed as part of coursework for the CSC667/867 class at SFSU.<br> We do not sell anything here</p1>
