<h3>Frequently Asked Questions</h3>
<head>
<script>  
<script language="javascript" type="text/javascript">
function over(ankush) {
	
	document.getElementById(ankush.id).style.display = "block";
	}
function out(ankush) {
	document.getElementById(ankush.id).style.display = "none";
	}

</script>
</head>
<body>
<a href="#" onmouseover="over(ans1)" onmouseout="out(ans1)">1) What is ArtSale all about?</a>
<div id="ans1" style="display:none;">
<ul>
<li>ArtSale brings good art a step closer to your wallet </li>
<li>We have paintings, sculptures and even photos that you pay good money to hange around your home </li>
<li>All you need to do uis sign up with us, add what you like to your cart and hit checkout </li>
<li>In about 4-7 days(depending on where you live), we ship your stuff to you. Simple as that. </li>
</ul>
</div>
<br /><br />
<a href="#" onmouseover="over(ans2)" onmouseout="out(ans2)">2) How do I register as a buyer?</a>
<div id="ans2" style="display:none;">
<ul>
<li>second answer...</li>
<li>second answer...</li>
<li>second answer...</li>
</ul>
</div>
<br /><br />
<a href="#" onmouseover="over(ans3)" onmouseout="out(ans3)">3) I left mid session last time - Are my orders still there? </a>
<div id="ans3" style="display:none;">
<ul>
<li>third answer...</li>
<li>third answer...</li>
<li>third answer...</li>
</ul>
</div>
</body>