
<h3>Frequently Asked Questions</h3>
<p> You can find our most frequently asked questions here! </p>
<a class="faqlink" href="#">1.What is ArtSale all about?</a>
<div class="content">
<ul>
<li>ArtSale brings good art a step closer to your wallet </li>
<li>We have paintings, sculptures and even photos that you pay good money to hange around your home </li>
<li>All you need to do uis sign up with us, add what you like to your cart and hit checkout </li>
<li>In about 4-7 days(depending on where you live), we ship your stuff to you. Simple as that. </li>
</ul>
</div>
<a class="faqlink" href="#">2.</a>
<div class="content">lorem ipsum2</div>
<a class="faqlink" href="#">3.</a>
<div class="content">lorem ipsum3</div>
>>>>>>> 4c0f3679fc5034bcf143a7b4f2ef03619d9a46ed
