
<h3>Frequently Asked Questions</h3>
<p> You can find our most frequently asked questions here! </p>
<a class="faqlink" href="#">1.What is ArtSale all about?</a>
<div class="content">
<ul>
<li>ArtSale brings good art a step closer to your wallet </li>
<li>We have paintings, sculptures and even photos that you pay good money to hange around your home </li>
<li>All you need to do uis sign up with us, add what you like to your cart and hit checkout </li>
<li>In about 4-7 days(depending on where you live), we ship your stuff to you. Simple as that. </li>
</ul>
</div>
<a class="faqlink" href="#">2.How can I sign up as a buyer? </a>
<div class="content"> Click on the sign up button at the top left of the screen and with a few details, you can sign up as buyer</div>
<a class="faqlink" href="#">3. How do I become a seller?</a>
<div class="content">Once you are a buyer, navigate over to your user name on the top left corner and click on "open shop" on the drop down menu - Follow the instructions and you'll be done </div>

