<h1>Welcome page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% @images.each do |c| -%>
   <%= c.title %> <br>
	<%= image_tag "/assets/" + c.category + "/" + c.image_path %>	
<p>
<% end -%>