<%
title = ""
CATEGORIES.each do |cat,details|
  if details['url'] == request.fullpath && request.fullpath != "/"
    title = cat
    break
  end
end
%>
<h3 style='text-align:center'><%= title %></h3>

<%= render 'results' %>
