<h2>Your user account</h2>
<br><br>
<ul class="user-account-menu" >
	<li id="item"><%= link_to 'Orders', orders_path %></li>
	<li id="item"><%= link_to 'Settings', "users/edit" %></li>
	<li id="item">Reviews</li>
</ul>
<p>
<br><br>	
