// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-account-menu {
	list-style: none;
	font-size: 20px;
	padding-left: 0pt;
	#item {
		padding-bottom: 20px;
	}
}