@import "artsale";
@import "bootstrap";

.cart {
	a { text-decoration: none }
	.badge { 
	background-color: #009933;
 	}
}

.admin {
	#admin_link {
		color: #FF6600;
	}	
    h2 {
        font-size: 26px;
        font-family:Candara, sans-serif;
        color:#727272;
    }
    h3 {
        font-size: 20px;
        font-family:Candara, sans-serif;
        color:#727272;
    }

  .body {
	  font-family: Candara, sans-serif;
  }

  .menu {
    .body { font-family:Candara, sans-serif; }
	  padding: 10px;
	  margin: 0px;	
	  font-size: 20px;
	  a:visited { color: black; }
  }
	#tagsfooter {
		clear: both;
		padding-top:20px;
		}
	.artwork-title {
	font-size: 32px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;	
	color: $artsale-bg;
	}
	.artwork-description {
		font-family:Candara, sans-serif;
		font-size: 22px;
		color: $artsale-bg;
	}	
}

.artwork {
	margin: 10px;
	#tagsfooter {
		clear: both;
		padding-top:20px;
		}
	
	h2 { font-size: 72px;}

	.artwork-title {
		font-size: 32px;
	    font-weight: bold;
	    font-family: "Comic Sans MS", cursive, sans-serif;	
		color: $artsale-bg;
	}

	a {
		color: $artsale-bg;
		padding: 10px;
	}

	li {
		padding: 3px;
		list-style-type: none;
	}
	
	.artwork-description {
		font-family:Candara, sans-serif;
		font-size: 22px;
		color: $artsale-bg;
	}	
}


.navbar {
	a { color: #ccc; }
	a:visited { color: #ccc; }
	color: #ccc;
    background: $artsale-bg;
    padding-bottom: 9px;
    padding-top: 9px;
    margin: 0px 0 30px;
    border-bottom: 1px solid grey;
}

.navbar {
	margin-bottom: 2px;
}

.navbar .container-fluid .logoLink {
	a:hover {text-decoration: none;}
}
.navbar #logoText {
    font-size: 40px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

.footer {
	a { color: #ccc; }
	a:hover { color: #fff;}
	color: #ccc;
    background: $panel-footer-bg;
    padding-bottom: 9px;
    padding-top: 9px;
    margin: 10px 0 0px;
}

.sidebar {
	a { color: #ccc; }
	a:visited { color: #ccc; }
	a:hover { color: #fff;}
	li {list-style-type: none};
	span { 
		color: #ccc;
		font-size: 20px;}
	color: #ccc;	
    border: 1px $artsale-bg;
    border-radius: 5px;
    float: left;
    padding: 0.5em;
    width: 15%;
    overflow: auto;
    margin-right: 20px;
}

.content {
    clear: none;
    width: 100%;
    height: 100%;
}

.hero-unit {
    overflow: auto;
    padding: 5px;
	background-color: #ccc;
}

#searchform {
    margin-left: auto;
    margin-right: auto;
}

#search-textbox {
	width: 40%;
	input {
		width: 100%;
	}
}

.blank {
    color: rgba(100,100,100,0.5);
    font-style: italic;
}

.breadcrumb {
	a { color: #ccc; }
	a:visited { color: #ccc; }
    overflow: auto;
	margin-bottom: 0;
}

.divide {
    color: #dddddd;
}

.signin {
	margin-right: 10px;
}