// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
    //background: #666666;
	height: auto;
}

.listing img {
    border: solid black 1px;
    max-width: 150px;
    background: white;
    float: left;
    margin-right: 1em;
    margin-bottom: 15px;
}

html, hr {
    clear: both;
    border-bottom-color: black;
}

.pagination {
	margin: 6px 0;
}

/*
hr {
	margin-top:10px;
	margin-bottom:10px;
}

div.pagination {
	display:block;
    width:auto;
	margin-left: auto;
	margin-right: auto;
}

ul.pagination {
  width:100%;
//	margin-left: auto;
//	margin-right: auto;
}
*/

.tags {
    font-size: 0.5em;
}

.listing-details {
    float: left;
}

