// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
    height: auto;
}

.listing img {
    border: solid black 1px;
    max-width: 150px;
}

html, hr {
    clear: both;
    border-bottom-color: black;
}

.pagination {
    margin: 6px 0;
    div { display: block; }
    ul { width: 100%; }
    li { padding: 0px; }
}

hr {
    margin-top:10px;
    margin-bottom:10px;
}

.tags {
    font-size: 0.8em;
}

.listing-details {
    float: left;
}

.thumb {
    width: 150px;
    float: left;
    margin-right: 1em;
    margin-bottom: 15px;
}
