<h2>List Of All Reviews</h2>
<h3>Test page</h3>
<p>
<ol>
<% @reviews.each do |review| %>
<li>User: <%= review.user.firstname %>, 
	  | Posted on: <%= review.created_at.to_s(:db)%>
	  | Seller: <%= review.seller.displayed_name %>
	  | Text: "<%= review.review_text%>"
</li>
<% end %>
</ol>